.article-title {
    color: coral;
}

.article-author {
    margin-top: 20px;
    font-size: 12px;
}

.article-content {
    font-size: 24px;
}

.article-tags {
     margin-top: 40px;
}

.tag {
    margin-right: 20px;
}
